@use "../settings/colors";
@use "../settings/fonts";


* {
    box-sizing: border-box;
    z-index: 2;
    margin: 0;
    padding: 0;
    color: colors.$color-white;
    // background-color: colors.$color-black;
    font-family: fonts.$font-rleud;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }