@font-face {
    font-family: 'rleud_demolight';
    src: url('@/assets/fonts/rleuddemo-light-webfont.woff2') format('woff2'),
         url('@/assets/fonts/rleuddemo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mouse_proregular';
    src: url('@/assets/fonts/mousepro-webfont.woff2') format('woff2'),
         url('@/assets/fonts/mousepro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-rleud: "rleud_demolight", sans-serif;
$font-mouse: "mouse_proregular";
