.navbar {
    display: flex;
    

    .navbar__links {
        display: flex;
        align-items: center;
        height: 100%;
    
    
        .navbar__element {
            padding: 30px;
            border: 1px solid salmon;
        }
    }
}

.inactif {
    color: lightgray
}