.home__container {
    width: 90%;
    
    .home__title {
        text-align: center;
        margin: 1.5em 0;

    }
    .home__text{
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.5em;
    }
}