.background {
    background-image: url("@/assets/background4.jpg");
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    background-size: contain;
    background-repeat: repeat;
    width: 100%; /* Set width of the div */
    min-height: 100vh; /* Set height of the div */
    position: fixed;
    z-index: -1;

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
}